extends baseEmail

block content
  p Hi #{firstName},
  p Welcome to Aftofl Demo website, I am glad to have you 🎉🙏
  p We're all a 5big familiy here, so make sure to upload your user photo so we get to know you a bit better!
    - var content = "<b>Nodejsera</b>"
    - var content2 = `<div>${pureHTML} <div>`
    - var content2 = `<div>${pureHTML} <div>`
    - var content3 = ""
    - content3 = pureHTML;
    - var content4 = `${pureHTML}`;

    //- - var content2 = `${rawHTML.__html.toString()}`
    
  //- p This is your message, please check it : !{rawHTML.__html.toString()}
  //- p This is your message, please check it : !{rawHTML.__html}
  //- p This is your message, please check it : #{rawHTML.__html}
  p This is your message, please check it : #{content3}
  //- p This is your message, please check it : #{content2}
  p This is your message, please check it : !{content3}
  p This is your message, please check it : #{content2}

  div!= content3
  div= content3
  div!= {pureHTML}
  div= {pureHTML}
  div!= `${pureHTML}`
  div= `${pureHTML}`
  div!= content4
  div= content4
  //- section= rawHTML
  
  //- .quote
  //- p Joel: !{rawHTML.__html}

  //- - var content2 = rawHTML.__html.toString()
  //- //- - var contentNew = `${rawHTML.__html.toString()}`
  //- - var contentNew = `${content2}`
  //- - console.log('@@PUG@@', contentNew)

  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Upload user photo
  p If you need any help with booking your next tour, please don't hesitate to contact me!
  p - AftoflBig5, CEO at DreamiT