<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>EMAIL page</title>
  </head>
  <body>
    <h1>EMAIL page from {{name}}</h1>
    <div>pureHTML 2 </div>
    
    
    <div>{{jsdomHTML}}</div>
    
    <div>{{{jsdomHTML}}}</div>
    
    <div>{{jsdomHTML2}} </div>
   
    <div>{{{jsdomHTML2}}} </div>
    <div>{{jsdomHTML3}}</div>
    
   
    <div>{{{jsdomHTML3}}}</div>
   
    <div>{{backtickHTML}}</div>
   
    <div>{{{backtickHTML}}}</div>
   
    <div>{{backStringHTML}}</div>
    <div>{{{backStringHTML}}}</div>

  </body>
</html>
